.kite {
  width: 100%;
  position: relative;
  background: url('//assetlibs.kaplaninternational.com/_assets/about-k-plus/images/kite-bg-small.jpg') top center no-repeat;
  background-size: cover;
  padding: 100px 0 40px 0;

  &::before {
    position: absolute;
    width: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.33);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @mixin atSmall {
    background: url('//assetlibs.kaplaninternational.com/_assets/about-k-plus/images/kite-bg.jpg') top center no-repeat;
    background-size: cover;
    position: relative;
    padding: 8% 0;

    &::before {
      content: none;
    }

  }

  &__content {
    p {
      color: white;
    }

  }

  ._icon--kite {
    position: absolute;
    top: 20px;
    left: 20px;
    transform: scale(.7);
    transform-origin: 0;

    @mixin atSmall {
      transform: scale(1);
    }

  }

  h1 {
    text-align: left;
  }

}